aws_region       = "us-east-1"
vpc_id           = "vpc-xxxxxxxxxxxxxxxxx"
subnet_ids       = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-yyyyyyyyyyyyyyyyy"]
listener_arn     = "arn:aws:elasticloadbalancing:us-east-1:<account>:listener/app/<alb>/<alb_id>/<listener_id>"
ecr_image_uri    = "<account>.dkr.ecr.us-east-1.amazonaws.com/matchmaking-service:latest"
game_server_url  = "http://ecs-express-gateway-alb-xxxxx-xxxxxxxxxx.us-east-1.elb.amazonaws.com"
