PORT=3000
# En AWS ECS, asegúrate de definir PORT=3000 en las variables de entorno del task definition
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@cluster0.mk2gice.mongodb.net/racegame?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=<your_jwt_secret>
